<div class="SkybrudPropertyEditors SkybrudIconPicker" ng-controller="Skybrud.IconPicker">

    <div class="display-icon-data">
        <span class="display-icon" ng-show="model.value">
            <img ng-src="{{model.value}}" ng-if="model.value" title="{{model.value}}" />
        </span>
        
        <div class="actions">
            <a class="link" href="#" prevent-default="" ng-show="!model.value" ng-click="addIcons()"><localize key="dialog_addIcon">Add icon</localize> <i class="icon icon-add"></i></a>

            <a class="link" href="#" prevent-default="" ng-show="model.value" ng-click="removeIcon()"><i class="icon icon-delete"></i></a>
            <a class="link" href="#" prevent-default="" ng-show="model.value" ng-click="addIcons()"><i class="icon icon-edit"></i></a>
        </div>
        
    </div>    
    
    <!--<div class="display-text" ng-bind="model.value" ng-show="model.value"></div>-->
</div>